* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
.flex {
     display: flex;
     justify-content: center;
     align-content: center;
}
.grid{
     display: grid;
     grid-template-columns:repeat(3,1fr);
}
body{
     display: grid;
     grid-template-columns: 0.5fr 1fr;
background-color: #000;
     height: 100vh;
     text-align: center;
color: #a09898;
}
nav {
     flex-direction: column;
margin-top: 3%;

}
nav a:link {
     color: #a09898;
text-decoration: none;
text-transform: capitalize;
}
a span:hover {

     color: #ecdcdc;
     cursor: pointer;
     border-bottom: 2px solid #ecdcdc;

}

main {
     
     padding: 2%;
}
.image_container {
     width: 95%;
     margin-top: 5%;

}
img {
     width: 100%;
     height: 100%;
}
