<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightMode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
     <title>Page Not Found</title>
</head>



<body>
      <div class="tdnn"><div class="moon"></div></div>
        <a href="https://github.com/Tamana543" class="github_link"><span><img src="{{ url_for('static', filename='GitHub-logo.gif')}}" alt="Github" class="github_logo"></span></a>
      <!-- <div class="container">
      <div class="gif">
        <!-- <img src="https://i.postimg.cc/2yrFyxKv/giphy.gif" alt="gif_ing" /> -->
        <!-- <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="gif_ing" /> -->
      <!-- </div> --> 
        <div class="svgContainer"></div>
      <div class="content">
        <h1 class="main-heading">This page is gone.</h1>
        <p>
          ...maybe the page you're looking for is not found or never existed.
        </p>
        <a href="/">
          <button>Back to home <i class="far fa-hand-point-right"></i></button>
        </a>
      </div>
    <!-- </div> -->
     <script src="{{ url_for('static', filename='Js/404.js') }}"></script>
</body>
</html>