<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Tamana Farzmai- Bangladesh Visual Diary">
     <meta property="og:title" content="RPG CreatureSearch">
     <meta property="og:type" content="web page">
      <meta property="url" content="https://tamana543.github.io/BangladeshVisualDiary/">
      <meta property="og:description" content="Bangladesh Visual Diary">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="Bangladesh Visual Diary">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>

  

     <title>Bangladesh Visual Diary</title>
</head>
<body>
     <div class="container">

          <header class="flex">
               <a href="https://github.com/Tamana543"><span> find me here :) </span></a>
             
               <button type="button" id="addBtn" class="addBtn">Add Image</button>
          </header>
     <main>
       
     
          <section class="image_container grid" id="imageContainer">
         
          </section>
     </main>
    </div>
    <a href="/" class="addBtn" id="homeBtn">Home</a>
     <div class="form_container">
  <div class="svgContainer"></div>
<div class="form">
     <div class="formbold-main-wrapper">

  <div class="formbold-form-wrapper">
    <form id="photoForm" enctype="multipart/form-data">
      <div class="formbold-mb-5">
        <label for="sender" class="formbold-form-label">
          Sender:
        </label>
        <input
          type="text"
          name="sender"
          id="sender"
          placeholder="Enter your Name"
          class="formbold-form-input"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="description" class="formbold-form-label">
          Describe the photo
        </label>
        <input
          type="text"
          name="description"
          id="description"
          placeholder="This image is .."
          class="formbold-form-input"
        />
      </div>

      <div class="mb-6 pt-4">
        <label class="formbold-form-label formbold-form-label-2">
          Upload File
        </label>

        <div class="formbold-mb-5 formbold-file-input">
          <input type="file" name="file" id="file" />
          <label for="file" id="fileLabel">
            <div id="formbold-text-container">
              <span class="formbold-drop-file" id="fileText"> Drop files here </span>
              <span class="formbold-or"> Or </span>
              <span class="formbold-browse"> Browse </span>
            </div>
          </label>
        </div>

       
      </div>
<div class="formbold-progress-bar hidden" id="progressBar">
  <div class="formbold-progress" id="progressFill"></div>
</div>
<p id="uploadStatus" class="hidden" style="color:#a09898;"></p>
      <div>
        <button class="formbold-btn w-full" id="sendBtn">Send File</button>
      </div>
      
    </form>
  </div>
</div>
</div>
     </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

